In [27]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
df=pd.read_excel('imdb.xlsx', index_col=0)

In [29]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [30]:
def extract_stop(text):
    words=[]
    doc=nlp(text)
    for token in doc:
        if token.is_stop == False:
            words.append(token.lemma_.lower())
    return words

In [34]:
cv=CountVectorizer(max_features=500, tokenizer= extract_stop)
tdm=cv.fit_transform(df['review'])

In [35]:
wc= pd.DataFrame({
    '단어':cv.get_feature_names(),
    '빈도':tdm.sum(axis=0).flat
})

In [36]:
wc.sort_values('빈도', ascending=False)

               단어   빈도
13              .  904
1                  752
10              ,  648
2              \t  252
0              \n  251
..            ...  ...
140           dvd    3
371        redeem    3
372      relation    3
373  relationship    3
250       journey    3

[500 rows x 2 columns]

In [1]:
!pip install cssselect

Collecting cssselect
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect
Successfully installed cssselect-1.1.0